In [1]:
import pandas as pd

In [2]:
menu_df = pd.read_csv("menu_data.csv", header=0)
menu_df

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2
5,hiyayakko tofu,appetizers,"chilled soft tofu, house shoyu, katsuobushi, g...",5.0,2
6,pork floss bao,appetizers,"two steamed buns, minced lean slow braised nim...",4.0,2
7,kakuni bao,appetizers,"two steamed buns, chopped fatty slow braised n...",6.0,3
8,edamame fried gyoza (vegan),appetizers,six crispy fried edamame and cabbage pot stick...,6.0,3
9,fried gyoza,appetizers,six cripsy fried pork and vegetable pot sticke...,6.0,6
10,takoyaki,appetizers,"six octopus-filled fried fritters, kewpie mayo...",6.0,3
11,rock shrimp tempura,appetizers,"deep fried tempura battered rock shrimp, srira...",6.0,3
12,soft-shell crab tempura,appetizers,"single deep fried soft-shell crab, tsuyu dippi...",6.0,3
13,ebi katsu shrimp bao,appetizers,"two steamed buns, panko-crusted fried shrimp p...",6.0,3
14,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5
15,shio ramen,entree,sea salt seasoned clear double stock (organic ...,11.0,5
16,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
17,vegetarian spicy miso,entree,house togarashi miso blend + vegan dashi; temp...,12.0,5
18,miso crab ramen,entree,house miso crab blend + vegan dashi; slow brai...,12.0,6
19,soft-shell miso crab ramen,entree,house miso crab blend + vegan dashi; fried who...,14.0,7
20,tori paitan ramen,entree,"rich, shoyu seasoned double stock (organic chi...",13.0,6
21,tonkotsu ramen,entree,"rich, shoyi seasoned niman ranch pork bone sto...",13.0,6
22,burnt garlic tonkotsu ramen,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
23,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
24,truffle butter ramen,entree,"rich, shoyu seasoned niman ranch prok bone sto...",14.0,7
25,green tea,drinks,green tea,2.5,1
26,coke,drinks,Coca Cola soda,2.0,1
27,black sesame ice cream,desserts,"house-made black sesame ice cream, valrhona ch...",5.0,2
28,matcha ice cream,desserts,"house-made matcha ice cream, white chocolate p...",5.0,2
29,mango mochi ice cream,desserts,two rice-cake bonbons filled with strawberry i...,5.0,2
30,strawberry mochi ice cream,desserts,two rice-cake bonbons filled with strawberry i...,5.0,2
31,black sesame creme brulee,desserts,house made black sesame infused creme brulee; ...,6.0,3

In [4]:
sales_df = pd.read_csv("sales_data.csv", header=0)
sales_df

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
...,...,...,...,...,...
74119,74120,12-31-2018,1697055332228941,4,tonkotsu ramen
74120,74121,12-31-2018,6800009643487106,1,vegetarian spicy miso
74121,74122,12-31-2018,6800009643487106,1,vegetarian spicy miso
74122,74123,12-31-2018,5981057609583653,2,spicy miso ramen
74123,74124,12-31-2018,5981057609583653,2,spicy miso ramen

In [13]:
joinned = sales_df.merge(menu_df, left_on="Menu_Item", right_on="item")
joinned

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item,item,category,description,price,cost
0,1,01-01-2017,7437926611570799,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
1,2,01-01-2017,7437926611570799,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
2,17,01-01-2017,5010864392617689,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
3,18,01-01-2017,5010864392617689,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
4,27,01-01-2017,8413275554809498,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5
...,...,...,...,...,...,...,...,...,...,...
74119,74008,12-31-2018,4286868988719826,2,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
74120,74045,12-31-2018,4150598284813409,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
74121,74046,12-31-2018,4150598284813409,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
74122,74085,12-31-2018,9803783656690951,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
74123,74086,12-31-2018,9803783656690951,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7

In [26]:
quantity_menu_item = joinned.groupby("Menu_Item")["Quantity"].sum()
quantity_menu_item_df = pd.DataFrame(quantity_menu_item).reset_index()
quantity_menu_item_df

                                         Menu_Item  Quantity
0                      burnt garlic tonkotsu ramen      9070
1                                  miso crab ramen      8890
2                                     nagomi shoyu      9132
3                                       shio ramen      9180
4                       soft-shell miso crab ramen      9130
5                                 spicy miso ramen      9238
6                                   tonkotsu ramen      9288
7                                tori paitan ramen      9156
8                             truffle butter ramen      8982
9   vegetarian curry + king trumpet mushroom ramen      8824
10                           vegetarian spicy miso      9216

In [15]:
joinned["revenue"] = joinned["Quantity"] * joinned["price"]
joinned["cogs"] = joinned["Quantity"] * joinned["cost"]
joinned

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item,item,category,description,price,cost,revenue,cogs
0,1,01-01-2017,7437926611570799,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5,12.0,5
1,2,01-01-2017,7437926611570799,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5,12.0,5
2,17,01-01-2017,5010864392617689,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5,12.0,5
3,18,01-01-2017,5010864392617689,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5,12.0,5
4,27,01-01-2017,8413275554809498,1,spicy miso ramen,spicy miso ramen,entree,house togarashi miso blend + niman ranch pork ...,12.0,5,12.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
74119,74008,12-31-2018,4286868988719826,2,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7,26.0,14
74120,74045,12-31-2018,4150598284813409,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7,13.0,7
74121,74046,12-31-2018,4150598284813409,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7,13.0,7
74122,74085,12-31-2018,9803783656690951,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7,13.0,7
74123,74086,12-31-2018,9803783656690951,1,vegetarian curry + king trumpet mushroom ramen,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7,13.0,7

In [23]:
revenue_menu_item = joinned.groupby("Menu_Item")["revenue"].sum()
revenue_menu_item_df = pd.DataFrame(revenue_menu_item).reset_index()
revenue_menu_item_df

                                         Menu_Item   revenue
0                      burnt garlic tonkotsu ramen  126980.0
1                                  miso crab ramen  106680.0
2                                     nagomi shoyu  100452.0
3                                       shio ramen  100980.0
4                       soft-shell miso crab ramen  127820.0
5                                 spicy miso ramen  110856.0
6                                   tonkotsu ramen  120744.0
7                                tori paitan ramen  119028.0
8                             truffle butter ramen  125748.0
9   vegetarian curry + king trumpet mushroom ramen  114712.0
10                           vegetarian spicy miso  110592.0

In [22]:
cogs_menu_item = joinned.groupby("Menu_Item")["cogs"].sum()
cogs_menu_item_df = pd.DataFrame(cogs_menu_item).reset_index()
cogs_menu_item_df

                                         Menu_Item   cogs
0                      burnt garlic tonkotsu ramen  54420
1                                  miso crab ramen  53340
2                                     nagomi shoyu  45660
3                                       shio ramen  45900
4                       soft-shell miso crab ramen  63910
5                                 spicy miso ramen  46190
6                                   tonkotsu ramen  55728
7                                tori paitan ramen  54936
8                             truffle butter ramen  62874
9   vegetarian curry + king trumpet mushroom ramen  61768
10                           vegetarian spicy miso  46080

In [25]:
report_df = revenue_menu_item_df.merge(cogs_menu_item_df, left_on="Menu_Item", right_on="Menu_Item" )
report_df

                                         Menu_Item   revenue   cogs
0                      burnt garlic tonkotsu ramen  126980.0  54420
1                                  miso crab ramen  106680.0  53340
2                                     nagomi shoyu  100452.0  45660
3                                       shio ramen  100980.0  45900
4                       soft-shell miso crab ramen  127820.0  63910
5                                 spicy miso ramen  110856.0  46190
6                                   tonkotsu ramen  120744.0  55728
7                                tori paitan ramen  119028.0  54936
8                             truffle butter ramen  125748.0  62874
9   vegetarian curry + king trumpet mushroom ramen  114712.0  61768
10                           vegetarian spicy miso  110592.0  46080

In [28]:
report_df2 = report_df.merge(quantity_menu_item_df, left_on="Menu_Item", right_on="Menu_Item" )
report_df2

                                         Menu_Item   revenue   cogs  Quantity
0                      burnt garlic tonkotsu ramen  126980.0  54420      9070
1                                  miso crab ramen  106680.0  53340      8890
2                                     nagomi shoyu  100452.0  45660      9132
3                                       shio ramen  100980.0  45900      9180
4                       soft-shell miso crab ramen  127820.0  63910      9130
5                                 spicy miso ramen  110856.0  46190      9238
6                                   tonkotsu ramen  120744.0  55728      9288
7                                tori paitan ramen  119028.0  54936      9156
8                             truffle butter ramen  125748.0  62874      8982
9   vegetarian curry + king trumpet mushroom ramen  114712.0  61768      8824
10                           vegetarian spicy miso  110592.0  46080      9216

In [29]:
report_df2["profit"] = report_df2["revenue"] - report_df2["cogs"]
report_df2

,Menu_Item,revenue,cogs,Quantity,profit
0,burnt garlic tonkotsu ramen,126980.0,54420,9070,72560.0
1,miso crab ramen,106680.0,53340,8890,53340.0
2,nagomi shoyu,100452.0,45660,9132,54792.0
3,shio ramen,100980.0,45900,9180,55080.0
4,soft-shell miso crab ramen,127820.0,63910,9130,63910.0
5,spicy miso ramen,110856.0,46190,9238,64666.0
6,tonkotsu ramen,120744.0,55728,9288,65016.0
7,tori paitan ramen,119028.0,54936,9156,64092.0
8,truffle butter ramen,125748.0,62874,8982,62874.0
9,vegetarian curry + king trumpet mushroom ramen,114712.0,61768,8824,52944.0
10,vegetarian spicy miso,110592.0,46080,9216,64512.0

In [32]:
report_df2.columns = ["Menu_Item", "02-revenue", "03-cogs", "01-count", "04-profit"]
report_df2.set_index("Menu_Item", inplace=True)
report_df2

,02-revenue,03-cogs,01-count,04-profit
Menu_Item,,,,
burnt garlic tonkotsu ramen,126980.0,54420,9070,72560.0
miso crab ramen,106680.0,53340,8890,53340.0
nagomi shoyu,100452.0,45660,9132,54792.0
shio ramen,100980.0,45900,9180,55080.0
soft-shell miso crab ramen,127820.0,63910,9130,63910.0
spicy miso ramen,110856.0,46190,9238,64666.0
tonkotsu ramen,120744.0,55728,9288,65016.0
tori paitan ramen,119028.0,54936,9156,64092.0
truffle butter ramen,125748.0,62874,8982,62874.0
vegetarian curry + king trumpet mushroom ramen,114712.0,61768,8824,52944.0
vegetarian spicy miso,110592.0,46080,9216,64512.0

In [36]:
report_df2 = report_df2[["01-count","02-revenue","03-cogs","04-profit"]]
report_df2

,01-count,02-revenue,03-cogs,04-profit
Menu_Item,,,,
burnt garlic tonkotsu ramen,9070,126980.0,54420,72560.0
miso crab ramen,8890,106680.0,53340,53340.0
nagomi shoyu,9132,100452.0,45660,54792.0
shio ramen,9180,100980.0,45900,55080.0
soft-shell miso crab ramen,9130,127820.0,63910,63910.0
spicy miso ramen,9238,110856.0,46190,64666.0
tonkotsu ramen,9288,120744.0,55728,65016.0
tori paitan ramen,9156,119028.0,54936,64092.0
truffle butter ramen,8982,125748.0,62874,62874.0
vegetarian curry + king trumpet mushroom ramen,8824,114712.0,61768,52944.0
vegetarian spicy miso,9216,110592.0,46080,64512.0

In [39]:
report_dict = report_df2.T.to_dict()
report_dict

{'burnt garlic tonkotsu ramen': {'01-count': 9070.0,
  '02-revenue': 126980.0,
  '03-cogs': 54420.0,
  '04-profit': 72560.0},
 'miso crab ramen': {'01-count': 8890.0,
  '02-revenue': 106680.0,
  '03-cogs': 53340.0,
  '04-profit': 53340.0},
 'nagomi shoyu': {'01-count': 9132.0,
  '02-revenue': 100452.0,
  '03-cogs': 45660.0,
  '04-profit': 54792.0},
 'shio ramen': {'01-count': 9180.0,
  '02-revenue': 100980.0,
  '03-cogs': 45900.0,
  '04-profit': 55080.0},
 'soft-shell miso crab ramen': {'01-count': 9130.0,
  '02-revenue': 127820.0,
  '03-cogs': 63910.0,
  '04-profit': 63910.0},
 'spicy miso ramen': {'01-count': 9238.0,
  '02-revenue': 110856.0,
  '03-cogs': 46190.0,
  '04-profit': 64666.0},
 'tonkotsu ramen': {'01-count': 9288.0,
  '02-revenue': 120744.0,
  '03-cogs': 55728.0,
  '04-profit': 65016.0},
 'tori paitan ramen': {'01-count': 9156.0,
  '02-revenue': 119028.0,
  '03-cogs': 54936.0,
  '04-profit': 64092.0},
 'truffle butter ramen': {'01-count': 8982.0,
  '02-revenue': 125748.0,
  '03-cogs': 62874.0,
  '04-profit': 62874.0},
 'vegetarian curry + king trumpet mushroom ramen': {'01-count': 8824.0,
  '02-revenue': 114712.0,
  '03-cogs': 61768.0,
  '04-profit': 52944.0},
 'vegetarian spicy miso': {'01-count': 9216.0,
  '02-revenue': 110592.0,
  '03-cogs': 46080.0,
  '04-profit': 64512.0}}

In [40]:
f = open("PyRamen_report.txt","w")
f.write(str(report_dict))
f.close()

In [41]:
!cat PyRamen_report.txt

{'burnt garlic tonkotsu ramen': {'01-count': 9070.0, '02-revenue': 126980.0, '03-cogs': 54420.0, '04-profit': 72560.0}, 'miso crab ramen': {'01-count': 8890.0, '02-revenue': 106680.0, '03-cogs': 53340.0, '04-profit': 53340.0}, 'nagomi shoyu': {'01-count': 9132.0, '02-revenue': 100452.0, '03-cogs': 45660.0, '04-profit': 54792.0}, 'shio ramen': {'01-count': 9180.0, '02-revenue': 100980.0, '03-cogs': 45900.0, '04-profit': 55080.0}, 'soft-shell miso crab ramen': {'01-count': 9130.0, '02-revenue': 127820.0, '03-cogs': 63910.0, '04-profit': 63910.0}, 'spicy miso ramen': {'01-count': 9238.0, '02-revenue': 110856.0, '03-cogs': 46190.0, '04-profit': 64666.0}, 'tonkotsu ramen': {'01-count': 9288.0, '02-revenue': 120744.0, '03-cogs': 55728.0, '04-profit': 65016.0}, 'tori paitan ramen': {'01-count': 9156.0, '02-revenue': 119028.0, '03-cogs': 54936.0, '04-profit': 64092.0}, 'truffle butter ramen': {'01-count': 8982.0, '02-revenue': 125748.0, '03-cogs': 62874.0, '04-profit': 62874.0}, 'vegetarian curry + king trumpet mushroom ramen': {'01-count': 8824.0, '02-revenue': 114712.0, '03-cogs': 61768.0, '04-profit': 52944.0}, 'vegetarian spicy miso': {'01-count': 9216.0, '02-revenue': 110592.0, '03-cogs': 46080.0, '04-profit': 64512.0}}